
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

  --ldl: #f5ff00;
  --lvm: #7722ff;
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Padauk', sans-serif;

}

p{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  line-height: 1.8rem;
  margin: 2rem 0 2rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{

  font-size:2.4rem;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
  height: 3.4rem;
  border-bottom: 4px solid black;
  text-transform:uppercase;
  
}

@media only screen and (max-width: 500px){

  h1{
    font-size: 1.8rem;
    height: 3rem;
  }

}

@media only screen and (max-width: 400px){

  h1{
    font-size: 1.4rem;
    height: 2.4rem;
  }

}

h2{
  font-size: 2rem;
  letter-spacing: 0.3rem;
  width:auto;
  text-align:left;
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 3px solid black;
}

h3{
  font-size: 1.3rem;
  font-weight:300;
  text-align:left;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  
}

h4{
  font-size: 4rem;
  line-height: 3.3rem;
  font-weight:600;
  text-align:left;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  opacity: 0.5;
  
}

/* AUDIO PLAYER*/

audio::-webkit-media-controls-panel{
background:none;
border: 3px solid black;

}

audio::-webkit-media-controls-mute-button{

}

audio::-webkit-media-controls-play-button{

}

audio::-webkit-media-controls-timeline-container{
  background:none;
  border: 3px solid black;
}

audio::-webkit-media-controls-current-time-display{

}

audio::-webkit-media-controls-time-remaining-display{

}

audio::-webkit-media-controls-timeline{
}

audio::-webkit-media-controls-volume-slider-container{
  color:white;
}

audio::-webkit-media-controls-volume-slider{
  color:white;
}

audio::-webkit-media-controls-seek-back-button{
  color:white;
}

audio::-webkit-media-controls-seek-forward-button{
  color:white;
}

audio::-webkit-media-controls-fullscreen-button{
  color:white;
}

audio::-webkit-media-controls-rewind-button{
  color:white;
}

audio::-webkit-media-controls-return-to-realtime-button{
  color:white;
}

audio::-webkit-media-controls-toggle-closed-captions-button{
  color:white;
}

::-webkit-scrollbar {
  display: none;
  }

@keyframes fade {
    0%   {opacity:0}
    100% {opacity:1}
  }


  
  
