.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 2rem 1rem 2rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../public/lvm_bg_landscape.jpg'),
}

.title {
  position: fixed;
  top: 1rem;
  left:1rem;
  margin: 0;
  font-size: 1.3rem;
  font-weight:200;
  text-align: center;
}

.feature {
  margin: 4rem 0 0 0;
  font-size: 1.2rem;
  width: 100%;
  
  }

.featuretext{
  color:blueviolet;
  font-size: 1.4rem;
  font-family: 'Share Tech Mono', monospace;
  padding:0;
  margin:0;
}

.content {
  margin: 2rem 0 0 0;
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: justify;
  width: 100%;
  
  }

.desktopmenu {
  display:none;
    }
  
.menusign {
  position:fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  cursor:pointer;
    }


.menuitem{
cursor:pointer;
margin: 0;
padding:0;

}

.menuitem:hover{
  list-style-type: none;
  border-bottom: 2px solid black;
  
  }

.invi{
  display:none !important;
}

.spacer{
  margin-top:0;
  margin-bottom:0;
  margin-right: 1rem;
  margin-left: 1rem;
  padding:0;
}

.rowspacer{
  margin-top:4rem;
  margin-bottom:4rem;
  margin-right: 0;
  margin-left: 0;
}

.decoimage{
  margin-top:3rem;
  margin-bottom:3rem;
  margin-left: 0;
  margin-right: 0;
}

.exlink{
  border-bottom: 2px solid black;
  cursor:pointer;
}

/* DESKTOP AND TABLET STYLES */

@media only screen and (min-width:800px){

.main {
    padding: 8rem;
    background-image: url('../public/lvm_bg_landscape.jpg');
    display:flex;
    flex-direction:row;
    gap:2rem;
  }

.title {
    font-size: 1.5rem;
    position: fixed;
    top: 2rem;
    left:2rem;
  }

.content {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.3rem;
    text-align: justify;
    width:60%;
    
    }

  .feature {
    width:40%;
    height:100%;
      
      }

.desktopmenu {
    position:fixed;
    top: 2rem;
    right: 2rem;
    display:flex;
    font-size: 1.5rem;
    padding: 0;
        }

.menusign {
    display:none;
        }


.decoimage{
    margin-top:5rem;
    margin-bottom:5rem;
    margin-left: 0;
    margin-right: 0;
        }
}



/* FOOTER */

.footer {
  display: flex;
  padding: 2rem 0;
  gap: 2rem;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;

}

.footer a:hover {
border-bottom: 1px solid black;
}





