.container {
  padding: 0;


}

.main {
  min-height: 100vh;
  padding: 2rem 1rem 2rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../public/lvm_bg_landscape.jpg'),
}

.title {
  position: fixed;
  top: 1rem;
  left:1rem;
  margin: 0;
  font-size: 1.3rem;
  font-weight:200;
  text-align: center;
}

.content {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: justify;
  
  }

.menu {
  display:none;
    }
  
.mobilemenu {
  position:fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
    }

@media only screen and (min-width:1000px){

.main {
    padding: 8rem;
    background-image: url('../public/lvm_bg_landscape.jpg'),
  }

.title {
    font-size: 1.5rem;
    position: fixed;
    top: 2rem;
    left:2rem;
  }

.content {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.3rem;
    text-align: justify;
    
    }

  .menu {
    position:fixed;
    top: 2rem;
    right: 2rem;
    display:flex;
    font-size: 1.5rem;
        }

   .mobilemenu {
   display:none;
         }
}

.footer {
  display: flex;
  padding: 2rem 0;
  gap: 2rem;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;

}

.footer a:hover {
border-bottom: 1px solid black;
}





