.container {
  padding: 0;
}

.maintext {
  padding: 4rem 3rem 4rem 3rem;
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  text-align:left;}

.title {
  position: fixed;
  top: 1rem;
  left:1rem;
  margin: 0;
  text-align: center;
  letter-spacing: 0.2rem;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 600;

}

.headline_d{
  display:none;
  }  

.headline_m{
display:block;
padding:0;
margin:0;
    }  

@media only screen and (min-width:800px) and (orientation:landscape){

.headline_m{
  display:none;
    }  
      
.headline_d{
  display:block;
  }  }

.exlink{
  border-bottom: 2px solid black;
}

.exlink:hover{
  border-bottom: 4px solid black;
}

/* LAYOUT ELEMENTS MOBILE*/

.main {
  min-height: 100vh;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index:500;
  }


.feature {
  position:normal;
  width:100%;
  height:100%;
  margin: 0;
  }

.content {
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: justify;
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  z-index: 500;
  }

.emptyspace {
  display:none;
  }

.desktopmenu {
  display:none;
    }
  
.menusign {
  position:fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  cursor:pointer;
}

.invi{
  display:none !important;
}

.spacer{
  margin-top:0;
  margin-bottom:0;
  margin-right: 1rem;
  margin-left: 1rem;
  padding:0;
}

.rowspacer{
  margin-top:3rem;
  margin-bottom:3rem;
  margin-right: 0;
  margin-left: 0;
}

.rowspacer_flex{
  margin-top:2rem;
  margin-bottom:2rem;
  margin-right: 0;
  margin-left: 0;
}

@media only screen and (max-width:799px){
  .rowspacer_flex{
 display:none;
  }
  }

.decoimage{
  margin-top:3rem;
  margin-bottom:3rem;
  margin-left: 0;
  margin-right: 0;
}


/* DESKTOP AND TABLET STYLES */

@media only screen and (min-width:800px){


.main {
  flex-direction:row;
  padding: 2rem;
  }

.title {
  letter-spacing: 0.2rem;
  position: fixed;
  top: 2rem;
  left:2rem;
  }

.content {
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: justify;
  width:50%;
  padding: 1rem;
  }

.emptyspace {
  display:block;
  width:50%;
  height:200px;
    }


.feature {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  width:50%;
  margin-top:0;
  padding-left: 9rem;
  }

.menusign {
    display:none;
        }

.decoimage{
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left: 0;
    margin-right: 0;
        }
}

/* FOOTER */

.footer {
  font-size: 1rem;
  display:flex;
  align-items:center;
  justify-content:center;
  gap: 0;
  z-index:200;
  color: rgb(45, 45, 45);
  flex-direction:column;

}

@media only screen and (min-width:800px){

.footer {
  font-size: 1rem;
  display:flex;
  align-items:center;
  justify-content:center;
  gap: 3rem;
  z-index:200;
  color: rgb(45, 45, 45);
  flex-direction:row;
  
  }

}

.footer_link{
  border-bottom: 2px solid rgb(45, 45, 45);
  cursor:pointer;
}


@media only screen and (max-width:799px){
  .footer_link{
  margin-top:0;
  }
}


.footer_link:hover{
  border-bottom: 3px solid pink;
  cursor:pointer;
}
